secondarydns:
  build: .
  hostname: secondarydns
  ports:
    - 53:53/udp
    - 53:53/tcp
  environment:
    ZONE_NAMES: test.example.com test2.example.com
    MASTER_IP: 192.168.0.1
  container_name: secondarydns
